 html {
    font-size: 14px;
    overflow-x: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

*, *::before, *::after {
    box-sizing: inherit;
  }

body {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 1rem;
    line-height: 1.5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }

  /* * {
    border: 1px solid black;
  } */

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }

a {
    text-decoration: none;
    color: inherit;
  }

.zoval {
    width: 100%;
    height: 100vh;
    background-image: url(https://www.wallpapertip.com/wmimgs/81-816112_tech-wallpaper-iphone-x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid red; */
    display: flex;
    color: rgb(234, 235, 242);
    align-items: center;
    justify-content: center;
  }
  
.zoval_nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: transparent;
    /* border: 1px solid green; */
    transition: all 0.3s ease-in-out;
  }
  
.zoval_nav.nav-fixed {

}
.zoval_nav_contenedor {
    display: flex;
    height: inherit;
    max-width: 992px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }
  
.zoval_nav .logo {
    display: flex;
    align-items: center;
    gap: .5rem;
    transition: all 0.3s ease-in-out;
    padding-left: 20px;
  }
  
.zoval_nav .logo i {
    display: flex;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    color: rgb(0, 255, 81);
    transition: all 0.3s ease-in-out;
  }
  
.zoval_nav .logo {
    font-size: 22px;
    color: rgb(0, 255, 98);
  }
  
.zoval_nav_inner {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: flex-end; 
    gap: 20px;
  }
  
.zoval_nav-link {
    /* border: 1px solid green; */
    color: rgb(0, 255, 98);
    font-size: 20px;
    font-weight: 600;
    padding-right: 30px;
  }
  
.zoval_nav-link:hover, .zoval_nav-link.active {
    color: rgb(255, 51, 0);
  }

@media (max-width: 768px) {
  .zoval_nav_inner {
      background-color: rgb(24, 21, 102);
      padding: 25px 0;
      position: fixed;
      top: 0;
      right: -100%;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      padding-right: 20px;
      height: 300px;
      width: 250px;
      border-radius: 0 0 0 275px;
      transition: .3s ease-in-out;
    }

.zoval_nav_inner.active {
      right: 0;
    }

  }

.seccion__contenido__acerca {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

.seccion__contenido__acerca-imagen {
  margin: 0;
    width: 100%;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
  }

.seccion__contenido__acerca-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:center;
    border-radius: 8px;
    transition: .3s ease-in-out;
  }

.seccion__contenido__acerca-imagen img:hover {
    transform: scale(1.1);
  }

.seccion__contenido__acerca-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding: 20px;
    text-align: center;
  }

.seccion__contenido__acerca-info h2, 
.seccion__contenido__acerca-info p {
    margin: 0;
  }

.arthas_contenedor {
    width: min(992px, 90%);
    height: auto;
    /* border: 1px solid red; */
    text-align: center;
  }
  
.arthas_titulo {
    margin: 0;
    margin-bottom: .75rem;
    font-size: clamp(1.8rem, 4vw, 3rem);
    font-weight: bold;
    /* border: 1px solid red; */
  }
  
.arthas_subtitulo {
    margin: 0;
    margin-bottom: .75rem;
    font-size: clamp(2rem, 5vw, 4.5rem);
    /* border: 1px solid red; */
    color: #fff;
  }
  
.arthas_texto {
    margin: 0;
    font-size: clamp(1rem, 2vw, 1.5rem);
    /* border: 1px solid red; */
  }
  
.btn-abrir {
    width: 45px;
    height: 28px;
    margin-right: 15px;
    border-radius: 10px;
    background-color: rgb(10, 192, 64);
  }

.seccion__contenido__acerca__img  {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    overflow: hidden;
  }
  
.seccion {
    width: 100%;
    padding-top: 100px;
  }

  .seccion-hab {
    width: 100%;
    padding-top: 100px;
    background-image: url(https://www.wallpapertip.com/wmimgs/81-816112_tech-wallpaper-iphone-x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }

  .seccion-contac {
    width: 100%;
    padding-top: 100px;
    background-image: url(https://www.wallpapertip.com/wmimgs/81-816112_tech-wallpaper-iphone-x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  
.seccion__contenedor {
    max-width: 992px;
    margin: 0 auto;
    text-align: center;
  }
  
.seccion__contenedor.seccion__full {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    margin:0;
  }
  
.seccion__titulo {
    padding-left: 20px;


  }
  
.seccion__contenido {
    padding: 10px 20px 40px;
  }

.seccion__contenido {
    padding: 25px;
  }

  .contenedor__tarjetas {
    /* border: 1px solid green; */
    padding: 20px 0 45px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    color: black;
  }

  .tarjeta {
    /* border: 1px solid violet; */
    padding: 30px 10px;
    border-radius: 8px;
    box-shadow: 0px 3px 11px -7px #0009;
  }

  .tarjeta__interior {
    text-align: center;
    color:rgb(234, 231, 238);
    text-decoration: underline;
    font-size: 20px;
  }

  .tarjeta__interior i {
    font-size: 70px;
    color: rgb(238, 233, 245);
  }

  @media (min-width: 600px) {
    .contenedor__tarjetas {
      grid-template-columns: repeat(3, 1fr);
    }
  }



.contenerdor__principal > .seccion:nth-child(even) {
    max-width: 100%;
    margin: 0 auto;
    background-color: rgb(56, 71, 238);
    color: #fff;
  }

.btn-curriculum button  {
  color: white;
  background-color:rgb(16, 4, 62, 0.4);
  border-radius: 10px solid;
  margin-bottom: 10px;
  height: 50px;
  width: 100px;
}

.contenedor-academlo img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  object-position:center;
  border-radius: 8px;
  transition: .3s ease-in-out;
}
  
  @media (max-width: 768px) {
    .hero__nav-inner {
      position: fixed;
      top: 0;
      left: -100%;
      margin-top: 60px;
      width: 80vw;
      height: 100%;
      padding: 20px 0;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding-left: 20px;
      background-color: hsl(44deg 97% 59%);
      /* border: 1px solid blue; */
      transition: .3s ease-in-out;
    }
  
    .hero__nav-inner.active {
      left: 0;
    }
  
    .hero__nav-link {
      color: rgba(98, 76, 9, 0.5);
      text-transform: uppercase;
    }
    
    .hero__nav-link:hover, .hero__nav-link.active {
      color: hsl(0deg 0% 0%);
      font-weight: 700;
    }
  
  }
  
  .form {
    /* border: 1px solid red; */
    padding: 0 25px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 2rem;
    
  }
  
  .form-control {
    padding: 15px;
    font-size: 1rem;
    background-color: hsl(231deg 48% 48%);
    border: 1px solid transparent;
    border-radius: 8px;
  }
  
  .form-control::placeholder {
    color: #fff;
  }
  
  .form-control:focus-visible {
    outline: 1px solid lightseagreen;
    border-color: #fff;
  }
  
  .form-group label {
    display: flex;
    text-align: left;
  }
  .btn-form {
    padding: 15px;
    background-color: hsl(230deg 60% 41%);
    border: 1px solid transparent;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  .btn-form:hover {
    background-color: hsl(231deg 48% 48%);
  }
  
  .footer__contenedor__texto {
    text-align: center;
    padding: 0 20px;
    font-size: 18px;
  }
  
  /* mobile first */
  @media (min-width: 768px) {
    .hero__nav {
      height: 100px;
    }

    .btn-abrir {
      display: none;
    }

    .seccion__contenido__acerca-imagen {
      height: 600px;
    }
  }

  .footer {
    margin-top: 5rem;
    background-color: hsl(231deg 48% 48%);
    color: #fff;
  }

  /* .contenedor__footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    max-width: 750px;
    margin: 0 auto;
    padding: 1rem 0 3rem;
  } */

  /* .contenedor__footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */

  .contenedor__footer {
    /* margin-left: 45px; */
  }

  .contenedor__footer-item ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .contenedor__footer-item a {
    color: #ccc;
    text-decoration: none;
    transition: .3s ease-in-out;
  } */

  .contenedor__footer-item a:hover {
    color: #fff;
    text-decoration: underline;
  }

  .social ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
    
  }

  .social i {
    font-size: 30px;
  }

  .social h3 {
    text-align: center;
    padding: 40px 0 0;
  }

  .contenedor__footer-copy {
    padding: 20px 0;
    /* border-top: 1px solid rgb(31, 28, 28); */
    text-align: center;
    font-size: 12px;
    color: rgb(246, 239, 239);
  }

  @media (min-width: 600px) {
    .contenedor__footer {
      grid-template-columns: repeat(3, 1fr);
    }
  }