  html {
    font-size: 14px;
    overflow-x: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 1rem;
    line-height: 1.5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  img {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .zoval {
    width: 100%;
    height: 100vh;
    background-color: hsl(231deg 48% 48%);
    /* border: 1px solid red; */
    display: flex;
    color: hsl(230deg 100% 81%);
    align-items: center;
    justify-content: center;
  }
  
  .zoval_nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: transparent;
    /* border: 1px solid green; */
    transition: all 0.3s ease-in-out;
  }
  
  .zoval_nav.nav-fixed {
    background-color: rgb(18, 119, 219);
  }
  
  .zoval_nav_contenedor {
    display: flex;
    height: inherit;
    max-width: 992px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
  }
  
  .zoval_nav .logo {
    display: flex;
    align-items: center;
    gap: .5rem;
    transition: all 0.3s ease-in-out;
  }
  
  .zoval_nav .logo i {
    display: flex;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    color: rgb(240, 76, 17);
    transition: all 0.3s ease-in-out;
  }
  
  .zoval_nav .logo {
    font-size: 22px;
    color: rgb(17, 240, 102);
  }
  
  .zoval_nav_inner {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: flex-end; 
    gap: 20px;
  }
  
  .zoval_nav-link {
    /* border: 1px solid green; */
    color: rgb(17, 240, 102);
    font-size: 20px;
    font-weight: 600;
  }
  
  .zoval_nav-link:hover, .zoval_nav-link.active {
    color: rgb(244, 156, 16);
  }
  
  .arthas_contenedor {
    width: min(992px, 90%);
    height: auto;
    /* border: 1px solid red; */
    text-align: center;
  }
  
  .arthas_titulo {
    margin: 0;
    margin-bottom: .75rem;
    font-size: clamp(1.8rem, 4vw, 3rem);
    font-weight: bold;
    /* border: 1px solid red; */
  }
  
  .arthas_subtitulo {
    margin: 0;
    margin-bottom: .75rem;
    font-size: clamp(2rem, 5vw, 4.5rem);
    /* border: 1px solid red; */
    color: #fff;
  }
  
  .arthas_texto {
    margin: 0;
    font-size: clamp(1rem, 2vw, 1.5rem);
    /* border: 1px solid red; */
  }
  
  .btn-abrir {
    display: none;
  }
  
  .seccion {
    width: 100%;
    height: 100vh;
    padding-top: 100px;
  }
  
  .seccion__contenedor {
    max-width: 992px;
    margin: 0 auto;
  }
  
  .seccion__contenedor.seccion__full {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    margin:0;
  }
  
  .seccion__titulo {
    padding-left: 20px;
  }
  
  .seccion__contenido {
    padding: 10px 20px 40px;
  }
  
  .contenerdor__principal > .seccion:nth-child(even) {
    max-width: 100%;
    margin: 0 auto;
    background-color: rgb(104, 202, 13);
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .hero__nav-inner {
      position: fixed;
      top: 0;
      left: -100%;
      margin-top: 60px;
      width: 80vw;
      height: 100%;
      padding: 20px 0;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding-left: 20px;
      background-color: hsl(44deg 97% 59%);
      /* border: 1px solid blue; */
      transition: .3s ease-in-out;
    }
  
    .hero__nav-inner.active {
      left: 0;
    }
  
    .hero__nav-link {
      color: rgba(98, 76, 9, 0.5);
      text-transform: uppercase;
    }
    
    .hero__nav-link:hover, .hero__nav-link.active {
      color: hsl(0deg 0% 0%);
      font-weight: 700;
    }
  
    .btn-abrir {
      display: inline-block;
    }
  }
  
  .form {
    /* border: 1px solid red; */
    padding: 0 25px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 2rem;
  }
  
  .form-control {
    padding: 15px;
    font-size: 1rem;
    background-color: hsl(231deg 48% 48%);
    border: 1px solid transparent;
    border-radius: 8px;
  }
  
  .form-control::placeholder {
    color: #fff;
  }
  
  .form-control:focus-visible {
    outline: 1px solid lightseagreen;
    border-color: #fff;
  }
  
  .btn-form {
    padding: 15px;
    background-color: hsl(230deg 60% 41%);
    border: 1px solid transparent;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  .btn-form:hover {
    background-color: hsl(231deg 48% 48%);
  }
  
  .footer__contenedor__texto {
    text-align: center;
    padding: 0 20px;
    font-size: 18px;
  }
  
  /* mobile first */
  @media (min-width: 768px) {
    .hero__nav {
      height: 100px;
    }
  }